header {
    padding: 0px !important;
    height: 120px;
    background-image: linear-gradient(0,#1F472A,#217638);
    justify-content: space-between;    
}
.full-width{
    overflow: hidden;
}
.header__banner{
    height: 30px;
    background-color: #E9EFFF;
    display: flex;
    justify-content: center;
    width: 100%;
}    
.header__navbar {
    display: flex;
    justify-content: space-between;
}
.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 2px;
}
.header__navbar-item {
    margin-right: 11px;
    position: relative;
    margin-top: 20px;
}
.header__navbar-item--strong {
    font-weight: 600;
}
.header__navbar-item, 
.header__navbar-item-link {
    list-style: none;
    display: inline-block;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: 100;
}
.header__navbar-item:hover,
.header__navbar-item-link:hover,.header__logo_search-button:hover {    
    color: rgb(209, 209, 209, 0.7);
    cursor: pointer;
}

/* TIMKIEM LOGO*/
.header-with-srearch {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

}
.header__search {
    display: inline-flex;
    margin: 30px;
}
.header__search-text {
    border: none;
    outline: none;
    padding: 0px 5px;
    font-size: 15px;
}
.header-logo {
    transform: translateY(-34px);
}
.header__logo_search-button {
    background: none;
    border: none;
    outline: none;
    transform: translateY(-32px);
}
.header__logo_search {
    background: none;
    border: none;
    outline: none;
    transform: translateX(-50px);
}

.timkiem{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 999;
}
.search1{
    width: 35vw;
    background-color: rgba(255, 255, 255,0.8);
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 50px;
    padding: 20px 20px 20px 13px;
}
.trangchu{
    height: 32px;
    font-size: 12px;
    padding: 5px 10px 10px 0px;
    margin-left: -31px;
    z-index: 5;
}
.trangchu ul {
    display: flex;
}
.trangchu ul li{
    display: flex;
    margin-right: 5px;
}
.trangchu ul li b{
    color: slategrey;
}
.trangchu ul li a {
    color: slategrey;
}
.trangchu ul li a i{
    color: #1F472A;
    margin-top: 3px;
    margin-right: 5px;
}
.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 2px;
}
.header__navbar-item {
    margin-right: 11px;
    position: relative;
    margin-top: 20px;
}
.header__navbar-item, 
.header__navbar-item-link {
list-style: none;
display: inline-block;
color: white;
font-size: 20px;
text-decoration: none;
font-weight: 100;
}
.header__navbar-item:hover,
.header__navbar-item-link:hover,.header__logo_search-button:hover {    
color: rgb(209, 209, 209, 0.7);
cursor: pointer;
}
a[href]{
    text-decoration: none;
}
.container-fluid {
    background-color: #f5f5f5;
    padding-bottom: 15px;
    padding-top: 15px;
}
.row {margin: 0px !important;}
.marketing{
    position: relative;
}
.marketing-left{
    position: absolute;
    position: fixed;
    bottom: 200px;
    left: 145px;
}
.marketing-right{
    position: absolute;
    position: fixed;
    bottom: 200px;
    right: 145px;
}
.tenshop{
    color: whitesmoke;
}
.next{
    display: none;
}
#demo{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(145, 148, 151, 0.1), 0 2px 6px 2px rgba(143, 146, 147, 0.15);
    overflow: hidden;
}
.quangcao{
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.1), 0 2px 6px 2px rgba(60,64,67,.15);
    padding: 10px;
    margin: 10px 0px 10px 0px;
}
#xemthem{
    border: 1px solid silver;
    display: block;
    text-align: center;
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.1), 0 2px 6px 2px rgba(60,64,67,.15);
}
#xemthem:hover{
    color: green;
    border: 1px solid green;
}
.qc2{
    display: none;
}
.sp{
    border-top: 1px solid silver;
    padding-top: 10px;
    border-bottom: 1px solid silver;
}
.main{
    display: block;
    box-sizing: border-box;
    line-height: 18px;
}
.gia{
    display: flex;
}
.gia1 {
    display: flex;
    transform: translateY(5px);
}
.sell{
    font-size: 20px;
    color: #d0021c;
    margin-right: 5px;
}
.giagoc{
    color: #666;
    text-decoration: line-through;
}
.giamgia{
    margin-left: 5px;
    color: #d0021c;
}
.muangay{
    background-color: green;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 15px;
    padding: 14px 10px;
    text-align: center;
    margin-top: 10px;
}
.khuyenmai{
    background-color: #f6f6f6;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.1), 0 2px 6px 2px rgba(60,64,67,.15);
    padding: 8px 10px;
    margin-top: 10px ;
}
.timekm{
    color: #666;
    font-size: 12px;
    line-height: 1.4;
    margin-top: 5px;
    font-style: normal;
}
.ndkm{
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.1), 0 2px 6px 2px rgba(60,64,67,.15);
    padding-left: 5px;
}
.nd{
    margin-top: 10px;
    
}
.number{
    background-color: green;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    float: left;
    height: 16px;
    line-height: 16px;
    margin-top: 2px;
    text-align: center;
    width: 16px;
}
.giatri{
    padding-left: 26px
}
.thongso{
    padding: 12px 12px 4px 12px;
    margin:10px 0px 10px 0px;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.1), 0 2px 6px 2px rgba(60,64,67,.15);
}
.chitiettsle,.chitiettschan {
    display: flex;
    flex-direction: row; /* Sắp xếp các phần tử theo hàng ngang */
    align-items: center; /* Canh giữa các phần tử theo chiều dọc */
    justify-content: space-between; /* Cách đều các phần tử */
    margin-bottom: 10px; /* Khoảng cách giữa các dòng */
}
.chitiettsle{
    background-color: #f2f2f2
}
.tents {
    flex-basis: 48%; /* Độ rộng của mỗi cột là 48% */
    padding: 5px;
}
.bao{
    padding-left: 0;
    margin-top: 10px;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    overflow: hidden;
}
.carousel-control-prev-icon {background-color: #6b6a6a; border-radius: 15px;}
.carousel-control-next-icon {background-color: #6b6a6a; border-radius: 15px;}
/*DANG NHAP*/
.bgcolor{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999 !important
}
.login-form{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    z-index: 999 !important;
    
}
.login-form1{
    display: inline-flex;
    background-color: white;
    border: 1px;
    border-radius: 14px;
}
.close{
    padding: 0px 10px 3px 10px ;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #fd5465;
    border: 1px;
    border-radius: 100%;
}
.close:hover{
    cursor: pointer;
    background-color: #00483d;
}
.login-bg{
    padding: 90px 40px;
    background-color: rgb(251, 233, 231);
    border: 1px;
    border-radius: 14px 0px 0px 14px;
}
.form{
    padding: 120px;
}
.input{
    background: #e5e5e5;
    border-radius: 4px;
    padding: 10px;
    border: none;
    width: 100%;
}
.dnanddk{
    display: flex;
}
.dangnhap{
    background: transparent linear-gradient(180deg, #00917a 0%, #00483d 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0 4px 6px #00000029;
    border-radius: 3px;
    color: #fff;
    border: none;
    padding: 12px;
}
.dangky{
    margin: 0 20px;
    border: 0;
    font-weight: bold;
    border-radius: 4px;
    flex-grow: 1;
    display: block;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #00483d;
    color: #222;
}
.exit {transform: translateX(-8px);margin-top: 5px;}
/*RESPONSIVE*/
.grid {
    width: 1200px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0;

}
.grid__full-width { max-width: 100%;}
.row {  
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
}
.gird__list {
    padding-left: 6px;
    padding-right: 6px;
}
.grid_col-2-4 {
    flex: 0 0 19%;
    max-width: 19%;
}
.col-12 {
    margin-top: 10px;
}
.grid__col-12 {
    margin-top: 6px;
    margin-bottom: 6px;
    padding-top: 10px;
}
/* FOOTER*/
.footer__header{
    height: 100px;
  
}
.footer__say{    
    padding: 5px;
    height:50px;
    background-image: linear-gradient(0,#1F472A,#217638);
    color: #f5f5f5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 10px;     
}
.footer__information{ 
    display:flex;
    justify-content:space-evenly;
    background-color: rgb(255, 255, 255);
}
.footer__information-item,
.footer__information-link{
    color:rgb(124, 124, 124);
    text-decoration: none;
    list-style: none;
}
.footer__information-link:hover{
    color:rgb(86, 48, 224);
}
.icon{
    color:#3391cf;
}
a[href]{
    text-decoration: none;
}
/*Sản phẩm liên quan*/
.slider{
    background-color:#f5f5f5;
    padding-bottom: 20px;
}
.slider-content{
    position: relative;
    overflow: hidden;
    background-color: #00483d;
    border-radius: 5px;
}
.slider-content-left{
    display: flex ;
    position:relative;
    transition: 1s;
}
.slide-title{
    color: white;
    margin: 10px 0px 0px 25px
}
.SP_item-info{
    border-radius: 5px;
    margin: 6px;
    padding: 4px;
    max-width:auto;
    background-color: #ffffff;
    display: inline;
    box-shadow: inset 0 0 3px #c2bebe;
    
}

.SP_item-info-img{
    width:12.5rem;
    margin:5px
}
.SP_item-info-img:hover,.SP_item-info-tagName:hover{
    transition: 1;
    transform: translateY(-2px);
    color: #217638;
}
.SP_item-info-tagName{
    align-items: stretch;
    text-decoration: none;
    color:black;
    font-size: 0.8rem;
    text-align: center;
}
.SP_item-info-money{
    align-items: stretch;
    margin:10px;
    text-align: center;
}
.SP_item-info-money-old{
    font-size: 14px;
    color:#7e8897;
    text-decoration: line-through; /* gạch ngang */
}
.SP_item-info-money-new{
    font-size: 15px;
    font-weight: 500;
    color:red;
}

.SP_item-info-money-sale{
    font-size: 14px;
    font-weight: 500;
    background-color: red;
    color:rgb(249, 245, 245);
    border:1px;
    border-radius: 2px;
}

.slider-next-prev{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;

}
.slide-prev i{
    display: none;
    color: rgba(255, 255, 255,0.5);
    font-size: 30px;
    background-color: rgba(143, 146, 147, 0.2);
    padding: 5px;
    border-radius: 10px;
}
.slide-next i{
    color: rgba(255, 255, 255,0.5);
    font-size: 30px;
    background-color: rgba(143, 146, 147, 0.2);
    padding: 5px;
    border-radius: 10px;
}
.slide-prev i:hover,.slide-next i:hover{
    color: rgba(255, 255, 255,1);
    background-color: rgba(143, 146, 147, 0.5);
}
