/*HEADER*/

.header {
    height: 120px;
    background-image: linear-gradient(0,#1F472A,#217638);
    justify-content: space-between;    
}
.header__banner{
    height: 30px;
    background-color: #E9EFFF;
    display: flex;
    justify-content: center;
}    
.header__navbar {
    display: flex;
    justify-content: space-between;
}
.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 2px;
}
.header__navbar-item {
    margin: 0 4px;
    position: relative;
    margin-top: 20px;
}
.header__navbar-item--strong {
    font-weight: 600;
}
.header__navbar-item, 
.header__navbar-item-link {
    list-style: none;
    display: inline-block;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: 100;
}
.header__navbar-item:hover,
.header__navbar-item-link:hover{    
    color: rgb(209, 209, 209, 0.7);
    cursor: pointer;
}
.header-with-srearch {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

}
.header__search {
    display: inline-flex;
    margin: 30px;
}
.header__search-text {
    border: none;
    outline: none;
    padding: 0px 5px;
    font-size: 15px;
}
.header-logo {
    transform: translateY(-34px);
}
.header__logo_search-button {
    background: none;
    border: none;
    outline: none;
    transform: translateY(-32px);
}
/*RESPONSIVE*/
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;

}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
   
}

.gird__col-2 {
    padding-left: 12px;
    padding-right: 12px;

    width: 16.6667%;
}

.gird__col-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3334%;
}

/*CONTAINER*/
.container-fluid {
        background-color: #f5f5f5;
        margin-top: 12px;
}
.category {
        background-color: white;
        border-radius: 10px;
        margin-top: 12px;
        font-size: 1rem;
        margin-top: 12px;
        box-shadow: inset 0 0 5px #988787;
}
.category__heading {
    font-size: 1.1em;
    padding: 5px 5px;
    margin: 0 2px;    
}
.icon {
    margin: 0 4px;
    font-size: 0.87em;
}
.category-list {
    list-style: none;
    padding: 1px 40px;
}
.category-item,
.category-item__link,
.category-item-icon {
    display: inline;
    margin: 0 4px;
    color: rgb(52, 58, 64);
    text-decoration: none;
    list-style: none;
    text-align: left;
}
.category-item:hover,
.category-item__link:hover {        
    color: #217638;
    cursor: pointer;
}
.category-item-left {
    text-align: left;
}
.category__heading-icon {
    font-size: px;
}
#demo{
    margin-left: -14px;
    margin-right: 10px;
}
.truot{
    margin-top: 5px;
    border: solid white;
    border-radius: 6px;
}
.danhmuc,.next{
    background-image: linear-gradient(0,#1F472A,#1F472A);
}
