.header {
    height: 75px;
    background-image: linear-gradient(0,#444444,#111111);
    justify-content: space-between;
}
.grid {
    width: 1600px;
    max-width: 100%;
    margin: 0 auto;

}
.grid__full-width {
    width: 100%;
}
.grid__row {
    display: flex;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;      
}
.header__navbar {
    display: flex;
    justify-content: space-between;
}
.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}
.header__navbar-item {
    margin: 0 4px;
    position: relative;
}
.header__navbar-item--strong {
    font-weight: 900;
}
.header__navbar-item, 
.header__navbar-item-link {
    list-style: none;
    display: inline-block;
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-weight: 100;
}
.header__navbar-item:hover,
.header__navbar-item-link:hover{
    
    color: rgb(209, 209, 209, 0.7);
    cursor: pointer;
}
.header-with-srearch {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

}
.header__search {
    display: inline-flex;
    margin: 30px;
}
.header__search-text {
    border: none;
    outline: none;
    padding: 0px 5px;
    font-size: 15px;
}
.header__logo_search-button {
    border: none;
    outline: none;
    
}
.container-fluid {
    width: 100%;
    display: inline;
    height: 75px;
    max-width: 100%;
}
.row {
    display: inline-flex;
    width: 100%;
}
